.point {
  fill: var(--pink);
}

.empty {
  fill: transparent;
  stroke: var(--pink);
}

.active {
  fill: var(--yellow);
}
.closed {
  fill: var(--pink);
}
.xIcon {
  fill: var(--yellow);
  font-size: 0.5rem;
  font-weight: 700;
}
.text {
  fill: var(--light-grey);
}
