.header {
  &__menu {
    justify-content: flex-end;

    .btn {
      text-transform: lowercase;
    }
  }

  .container,
  .container-fluid {
    .row {
      align-items: flex-end;
    }
  }
}
