.content {
    background-color: var(--dark);
    border: 1px solid var(--pink);
    font-size: 0.6rem;
    height: fit-content;
    line-height: 1rem;
    width: fit-content;
    padding: 0.6rem 0.6rem 1rem;
    @media (min-width: 768px) {
      font-size: 0.8rem;
    }
  }
.timestamp {
    color: var(--light-grey);
  }
.tooltipHidden {
display: none;
}

.tooltip {
  display: block;
}