@import 'styleguide/breakpoints';

.auction-header {  
  &__asset-profile {
    margin-bottom: 1rem;

    &,
    &.container,
    &.container-fluid {
      padding: 0;
    }
  }

  &__token-details {
    align-content: space-between;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    > * {
      margin: 0.5rem 2rem 0.5rem 0;

      &:last-child {
        margin-right: 0; 
      }
    }

    @media (max-width: $breakpoint-md) {
      flex-wrap: nowrap;

      > * {
        font-size: 1rem;
        margin: 0;
        min-width: 0;
      }
    }

    @media (min-width: $breakpoint-lg) {
      justify-content: flex-end;
  
      > * {
        margin: 0.5rem 0 0.5rem 2rem;
  
        &:first-child {
          margin-left: 0; 
        }
      }
    }
  }
}
