@import 'styleguide/breakpoints';

.how-it-works-page-instructions {
  display: flex;
  flex-flow: column;
  text-align: center;

  @media(min-width: $breakpoint-md) {
    flex-flow: row;
  }

  &__item {
    @media(max-width: $breakpoint-md) {
      margin-bottom: 2rem;

      &:last-child {
        margin-bottom: 0;
      }
    }

    .buy-button {
      min-width: 216px;
      font-style: normal;
      font-weight: 700;
      font-size: 21px;
      line-height: 23px;
      letter-spacing: 0.525px;
      height: 55px;
    }

    .row {
      > {
        [class*='col'] {
          margin-bottom: 2rem !important;
    
          &:last-child {
            margin-bottom: 0 !important;
          }
        }

        * {
          align-items: center;
          display: flex;
          justify-content: center;

          &:nth-child(1) {
            @media(min-width: $breakpoint-md) {
              height: 7rem;
            }

            @media(max-width: $breakpoint-md) {
              align-items: flex-end;
            }
          }
        }
      }
    }
  }

  &__icons-container {
    display: flex;
    justify-content: space-around;
    margin: 0;
    width: 100%;
    
    @media(min-width: $breakpoint-md) {
      margin: 0 5rem;
    }
  }

  .row {
    margin-bottom: 2rem !important;

    &:last-child {
      margin-bottom: 0 !important;
    }
  }
}
