@import 'styleguide/breakpoints';

.token-details-box {
  background-color: var(--light-bg);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  line-height: 1.1rem;
  min-width: 12rem;
  padding: 0.9rem 1.2rem;
  text-align: left;
  width: fit-content;

  &__value {
    color: var(--white);
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
    transition: font-size 0.5;

    @media (max-width: $breakpoint-md) {
      font-size: 0.8rem;
    }
  }

  &__label {
    color: var(--light-grey);
    font-size: 0.7rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
    line-height: 0.6rem;
    text-transform: uppercase;
    transition: font-size 0.5;

    @media (max-width: $breakpoint-md) {
      font-size: 0.5rem;
    }
  }
}
