.yAxis {
    g {
        text {
            fill: var(--light-grey);
            font-size: 0.6rem;
            @media (min-width: 768px) {
                font-size: 0.9rem;
            }
        }
    }
}