.menu {
  align-items: flex-end;
  display: flex;

  .btn {
    line-height: 1.2rem;
    margin: 0 19px;
    padding: 0;
    vertical-align: bottom;
    text-decoration: none;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  .btn-link {
    color: var(--yellow);
    font-size: 1.3rem;
    font-weight: 600;

    &.muted {
      color: var(--light-grey);
      font-weight: 400;
    }
  }
}
.wallet__hidden {
  display: none;
}

.wallet__container {
  border-color: var(--yellow);
  color: var(--yellow);
  top: 50%;
    left: 50%;
    z-index: 1000;
    position: fixed;
    max-width: 100%;
    transform: translate(-50%, -50%);
    background: var(--light-bg);
    border-radius: 10px;
}
.wallet__header{
  color: var(--yellow);
  text-align: center;
  margin: 20px 0;
 }
.wallet_listitem {
  border: 1px solid #d1d5da;
    margin: 5px 0;
    display: flex;
    padding: 7px 100px;
    align-items: center;
    border-radius: 20px;
    justify-content: center;
    background-color: var(--light-bg);
    &:hover {
      border: 1px solid var(--pink);
      cursor: pointer;
    }
}       