.auction-table {
  margin-bottom: 10rem;

  &__scrollbars {
    &__thumb {
      background-color: var(--pink);
    }
  }

  &__data {
    tr {
      opacity: 1;
      transform: scale(1, 1);
      transition: opacity 1s, transform 0.5s;

      &[data-visible="false"] {
        opacity: 0;
        transform: scale(0.5, 0.5);
      }
    }

    td {
      @media (max-width: 768px) {
        padding: 0.2rem 0 0 0.45rem;
        font-size: 0.65rem;
      }
      overflow: hidden;
    }
  }

  table {
    width: 100%;
  }

  thead,
  tbody,
  tr {
    display: table;
    table-layout: fixed;
    width: 100%;
  }

  thead {
    th {
      @media (max-width: 768px) {
        font-size: 0.7rem;
        line-height: 1rem;
        word-break: keep-all;
        padding: 0.2rem 0 0 0.45rem;
      }
      word-break: keep-all;

      &:last-child {
        padding-right: 2rem;
      }
    }
  }

  .table {
    margin-bottom: 0;
  }
}
