.block {
  rect {
    fill: var(--pink);
  }

  &--empty {
    rect {
      fill: transparent;
      stroke: var(--pink);
    }
  }

  &--closed {
    text {
      fill: var(--yellow);
      font-size: 0.5rem;
      font-weight: 700;
    }
  }

  &--active {
    rect {
      fill: var(--yellow);
    }
  }

  &__tooltip {
    opacity: 0;
    transform: translateY(5px);
    transition: opacity 0.3s, transform 0.5s;
    visibility: hidden;
  }

  &:hover {
    .block {
      &__tooltip {
        opacity: 1;
        transform: translateY(0);
        visibility: visible;
      }
    }
  }
}
