.asset-profile {
  &__name {
    color: var(--white);
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 0.56px;
    margin-bottom: 0.8rem;
    margin-top: 0.4rem;
  }

  &__url {
    color: var(--light-grey);
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.22px;
    text-decoration: underline;
  }

  &__urls {
    display: flex;
    flex-wrap: wrap;
    
    .asset-profile {
      &__url {
        margin-right: 1rem;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}
