.modal {
  color: var(--light);
  font-size: 1.2rem;

  &-dialog {
    background-color: var(--pink);
    padding: 1rem 2rem 2rem;
  }

  &-header {
    .close {
      opacity: 1;
    }
  }

  &-content {
    font-weight: 100;
  }

  &__header {
    &__icon {
      margin-bottom: 2rem;
    }

    h1 {
      font-size: 1.5rem;
    }
  }
}
