@import 'styleguide/breakpoints';

.disclaimer-modal {
  &__header {
    &__logo {
      margin-bottom: 1rem;
    }
  }

  .modal-dialog {
    padding: 2rem;
    
    @media (min-width: $breakpoint-md) {
      max-width: 70%;
    }
  }

  .modal-content {
    > * {
      margin-bottom: 2rem;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .modal-body {
    column-count: 1;
    column-gap: 2rem;
    margin-bottom: 2rem;
    text-align: left;

    @media (min-width: $breakpoint-md) {
      column-count: 2;
    }
  }

  .modal-footer {
    > * {
      @media (min-width: $breakpoint-md) {
        margin-right: 2rem;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}
