[class*='btn'] {
  border-radius: 0;
  font-weight: 600;
  padding: 0.7rem 2.2rem;
  text-transform: uppercase;

  &:focus,
  &.focus {
    box-shadow: none;
  }

  &:disabled,
  &.disabled {
    background-color: inherit;
    border-color: inherit;
    color: inherit;
  }
}

a.btn {
  text-decoration: none;
}

.btn-primary {
  background-color: var(--yellow);
  border: 0;
  color: var(--dark);

  &:hover,
  &:active,
  &:focus,
  &:not(:disabled):not(:disabled):active {
    background-color: var(--pink);
    border-color: var(--pink);
  }
}

.btn-outline-primary {
  border-color: var(--yellow);
  color: var(--yellow);
  
  &:hover,
  &:active,
  &:focus,
  &:not(:disabled):not(:disabled):active {
    background-color: transparent;
    border-color: var(--pink);
    color: var(--pink);
  }
}

.btn-link {
  color: var(--yellow);

  &:hover,
  &:active,
  &:focus,
  &:not(:disabled):not(:disabled):active {
    color: var(--pink);
  }
}
