:root {
  --black: #000;
  --dark: #14120f;
  --light: #f4ede9;
  --white: #fff;
  --light-bg: #252525;
  --light-grey: #8f8f8f;
  --dark-grey: #515151;
  --orange: #ff5824;
  --pink: #da0060;
  --yellow: #fdf446;
}
