a,
button,
input,
.form-control:focus {
  background-color: inherit;
  border-color: inherit;
  box-shadow: none;
  color: inherit;
  outline: none;
}

input {
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
  }

  &[type='number'] {
    appearance: textfield;
  }
}

form {
  .form-control {
    &.is-invalid {
      background-image: none;

      &:focus {
        border: 0;
        box-shadow: none;
      }
    }
  }

  .form-check-input {
    &.is-invalid {
      ~ .form-check-label {
        color: inherit;
      }
    }
  }
}

.success-feedback {
  color: var(--green);
}
