@import './breakpoints';

.modal-backdrop {
  background-color: var(--dark);

  &.show {
    opacity: 0.93;
  }
}


.modal-content {
  background-color: transparent;
  color: var(--white);

  &,
  .modal-header,
  .modal-body,
  .modal-footer {
    border: 0;
    padding: 0;
  }
}

.modal-header {
  .close {
    color: var(--white);
    text-shadow: none;
  }
}

.modal-body {
  text-align: center;
}

.modal-dialog {
  @media (min-width: $breakpoint-md) {
    max-width: 550px;
  }
}
