@import './alerts';
@import './buttons';
@import './form';
@import './modal';

body {
  background-color: var(--dark);
}

body,
table,
.table {
  color: var(--light);
}

table,
.table {
  line-height: 1.2rem;

  thead {
    th {
      border-bottom: 1px solid var(--pink);
      color: var(--pink);
      font-weight: 700;
      text-transform: uppercase;
    }
  }

  th,
  td {
    border-top: 0;
  }

  tr {
    td {
      border-bottom: 1px solid var(--dark-grey);
    }

    &:last-child {
      td {
        border-bottom: 0;
      }
    }
  }
}

th,
td {
  padding: 0.5rem;
  vertical-align: top;
}

pre {
  background-color: var(--dark-gery);
  color: var(--pink);
  padding: 1rem;
  white-space: pre-wrap;
}

a {
  color: var(--white);
  text-decoration: underline;

  &:hover {
    color: var(--yellow);
  }
}

.highlight {
  color: var(--yellow);
}

.progress {
  background-color: var(--light-bg);
  border-radius: 0;
}

.progress-bar {
  background-color: var(--pink);
}

.full-image {
  width: 100%;
}
