@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700&display=swap');

body {
  font-family: 'Work Sans', sans-serif;
  font-size: 14px;
  line-height: 1.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--yellow);
  font-weight: bold;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.3rem;
}

small {
  display: block;
  font-size: 0.8rem;
  line-height: 1rem;
}

strong {
  font-weight: 700;
}

.text-secondary {
  color: var(--pink) !important;
}

.word-break-all {
  word-break: break-all;
}
