.grid {
  height: 100%;
  overflow: hidden;
  position: relative;
  user-select: none;
  width: 100%;

  &__axes,
  &__data,
  &__legend {
    left: 0;
    position: absolute;
    top: 0;
  }

  &__axes {
    pointer-events: none;
    z-index: 2;
  }

  &__data {
    z-index: 1;

    &__volume-bar {
      fill: var(--light-bg);
    }
  }
}
