.auction-form {
  background-color: var(--light-bg);
  color: var(--light-grey);
  padding: 1rem;

  .row,
  .form-row {
    margin-bottom: 1.5rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__header {
    align-items: center;
    border-bottom: 1px solid var(--dark);
    color: var(--white);
    display: flex;
    padding-bottom: 1rem;

    &__project-logo {
      margin-right: 0.5rem;

      &,
      img {
        height: 2rem; 
      }
    }
  }

  &__lot,
  &__value {
    color: var(--yellow);


    .muted {
      color: var(--light-grey);
      font-weight: 400;
    }
  }

  &__lot,
  &__header,
  &__value {
    &,
    &__asset-name {
      font-size: 1.1rem;
      font-weight: 700;
      letter-spacing: 0.05rem;
    }
  }

  &__label {
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
    margin-bottom: 0;
    text-transform: uppercase;
  }

  &__symbol {
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    letter-spacing: 0.225px;
    text-transform: uppercase;
    color: #FFFFFF;
  }

  &__value {
    font-weight: 500;
  }

  &__max-price-control {
    border: 1px solid var(--dark-grey);

    &,
    .col {
      padding: 1rem;
    }
  }

  &__feedback {
    [class*='-feedback'] {
      display: block;
      font-size: 0.8rem;
      line-height: 1rem;
      word-break: break-word;
    }

    .link {
      color: #dc3545;
      &:hover {
        color: #dc848d
      }
    }
  }

  .btn-primary {
    font-size: 1.3rem;
    font-weight: 700;
  }

  .form-control {
    background-color: transparent;
    border: 0;
    border-radius: 0;
    font-size: 3rem;
    font-weight: 500;
    height: fit-content;
    padding: 0;

    &,
    &:focus {
      color: var(--white);
    }
  }

  .form-control {
    &:disabled,
    &[readonly] {
      background-color: inherit;
      color: var(--dark-grey);
    }
  }

  .form-control,
  .form-check {
    line-height: 1.2rem;
  }

  .input-group {
    align-items: flex-end;
    padding-bottom: 1rem;

    .input-group-append {
      font-size: 1.3rem;
      font-weight: 500;
      letter-spacing: 0.05rem;
    }
  }

  .input-group,
  .form-control {
    border-bottom: 1px solid var(--light-grey);

    .form-control {
      border-bottom: 0;
    }
  }

  .form-row {
    .auction-form {
      &__max-price-control {
        &.col {
          padding: 1rem;

          .input-group-append {
            color: var(--white);
          }
        }
      }

    }
  }
  
  .max-price-value {
    width: auto;
  }

  .auction-form {    
    &__max-price-control {
      .input-group {
        padding: 0;
      }

      .form-control {
        font-size: 1.3rem;
        margin-left: 1rem;
        margin-right: 1rem;
        text-align: right;
      }

      .input-group,
      .form-control {
        border-bottom: 0;
      }
    }
  }

  .terms{
    display: flex;
    align-items: flex-start;

    .terms-description{
      margin-left: 10px;
    }
  }
}
